@media screen and (min-width:1200px) {
    .link {
        position: absolute;
        right: 0;
        top: 0px;
        width: 550px;
    }
    .Rectangle_block {
        padding-top: 80px;
        display: block;
        float: left;
        width: 49%;
    }

    .Rectangle_image_2 {
        background-image: url("../image/layer-4-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
        margin-left: 0;
        width: 49%;
        height: 478px;
        min-width: 360px;
        float: right;
        margin-top: 80px;
    }
        body>main>div.Rectangle>div.Rectangle_image_2>h2 {
            display: none;
        }
    .skills {
        background-color: #00000000;
    }
    h1.our_skill{
        padding-top:105px;
    }
    .twetter_beck{
                height: 300px;
    }
}
@media screen and (max-width:1200px) {
    .menu{
        width: 100%;
    }
    .link{
                position: absolute;
                right: 0;
                top: 0px;
                width: 520px;
    }
    main{
        width: 100%;
    }

    .fast_download{
        margin-left: 20px;
    }
    img.fast_d{
        height: 953px;
    }
    .Rectangle_block {
        padding-top: 80px;
        display: block;
        float: left;
        width: 49%;
        margin-left: 10px;
    }
    .Rectangle_image_2 {
        background-image: url("../image/layer-4-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
        margin-left: 0;
        width: 49%;
        height: 478px;
        min-width: 360px;
        float: right;
        margin-top: 80px;
    }
    body>main>div.Rectangle>div.Rectangle_image_2>h2 {
        display: none;
    }
    .rectangle_backgroun{
        height: 630px;
    }
    .skill_img_back,
    .skill_img_back_black {
        display: none;
    }
    .Marketing,
    .Reaserch,
    .Management,
    .Consultancy,
    .Promotion {
        float: left;
        width: 33%;
    }
    .member{
     width: 360px;
    }
    img.member_photo{
        width: 360px;
    }
    .teams_back_color{
        height: 822px;
    }
    footer{
        width: 100%;
    }
    .footer_content{
        padding-left: 30px;
    }
    .footer_back{
        height:712px;
    }
}
@media screen and (max-width:930px) {
    .footer_back{
        height:712px;
    }
}
@media screen and (max-width:910px) {
    .footer_back {
        height: 747px;
    }
}
@media screen and (max-width:800px){
    /**/
    body>main>div.services>p {
        margin: 0 25px;
    }
    .services {
        min-width: 360px;
        width: 100%;
    }

    .consultancy,
    .maketing,
    .reaserch {
        min-width: 360px;
        width: 100%;
    }

    img.servise_img {
        display: block;
        margin: 0 auto;
        padding: 30px 40px;
        width: 115px;
        height: 90px;
    }
    /**/
    .member {
        float: none;
        margin: 0 auto!important;
        margin-bottom: 30px;
    }
    /**/
    p.client_r_p{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer_back{

    }
}
@media screen and (max-width:715px) {
   .logo{
       margin-left: 20px;
       width: 100px;
    }
    button.download_psd_layout {
        display: block;
        margin: 0 auto;
    }
    .Rectangle_image_2 {
        background-image: url("../image/layer-4-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
        margin-left: 0;
        width: 100%;
        height: 160px;
        min-width: 360px;
        margin-top: 0;
    }
    body>main>div.Rectangle>div.Rectangle_image_2>h2 {
        text-align: center;
        line-height: 160px;
        text-shadow: 2px 1px 0 #fff;
        display: block;
    }
    .Rectangle_block{
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding-top: 20px;
        
    }
    body>main>div.Rectangle>div.Rectangle_block>h2{
        display: none;
    }
    .rectangle_backgroun {
               height: 550px;
    }
    .Marketing,
    .Reaserch,
    .Management,
    .Consultancy,
    .Promotion {
        float: left;
        width: 50%;
        background-color: #404040;
    }
    .footer_back{

    }
}

@media screen and (min-width:600px) and (max-width:630px) {
    .footer_back { height: 747px;}
}
@media screen and (max-width:600px){
    .logo{display: none;}
    .menu{
        width: 100%;
        min-width: 360px;

    }
    .link{
        position: relative;
        width: 480px;
    }
    .home,
    .about,
    .portfolio,
    .team,
    .blog,
    .contact{
        margin: 0 14px;
    }
    .Rectangle_block{
        text-align: center;
        margin-left: 0px;
    }
    .Rectangle_image_2 {
        background-image: url("../image/layer-4-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        z-index: -1;
        margin-left: 0;
        width: 100%;
        height: 200px;
        min-width: 360px;
    }
        body>main>div.Rectangle>div.Rectangle_image_2>h2 {
            text-align: center;
            line-height: 121px;
            text-shadow: 2px 1px 0 #fff;
            display: block;
        }
    /**/

    .services {
        min-width: 360px;
        width: 100%;
    }

    .consultancy,
    .maketing,
    .reaserch {
        min-width: 360px;
        width: 100%;
    }

    img.servise_img {
        display: block;
        margin: 0 auto;
        padding: 30px 40px;
        width: 33px;
        height: 33px;
    }
    /**/
    footer{
        width: 100%;
    }
    .footer_back{
        height: 1369px;
    }
    .footer_content {
        max-width: 600px;
        min-width: 360px;
    }
}
@media screen and (max-width:480px){
    .link {
        position: relative;
        width: 360px;
        padding: 30px 0;
        margin: 0 auto;
    }
    .home {
        /*margin-left: 25px !important;*/
    }
    .home,
    .about,
    .portfolio,
    .team,
    .blog,
    .contact {
        margin: 0 0px;
        font-size: 14px;

    }
    .fast_download{
        min-width: 360px;
        margin-left: 0px;
    }
    .f_d_p_1{
        margin-left: 20px;
    }
    .f_d_p_2 {
        font-size:40px;
        margin-left: 20px;
    }
    img.fast_d{
        min-width: 360px;
        height: 953px;
    }
    /**/
    .info_page{
        min-width:360px ;
    }
    h1.know_ab{
        font-size:35px;
    }
    .info_page_min{
        font-size:16px;
        margin: 45px 15px 0px 15px;
    }
    .Rectangle{
        width: 100%;
    }
    .Rectangle_block{
        text-align: center;
        min-width: 360px;
        margin-left: 0px;
        padding-top: 20px;
    }
    .Rectangle_image{display: none;}
    .Rectangle_image_2{
        background-image: url("../image/layer-4-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
        margin-left: 0;
        width: 100%;
        height: 121px;
        min-width: 360px;
        margin-top: 0;
    }
    body>main>div.Rectangle>div.Rectangle_image_2>h2 {
        text-align: center;
        line-height: 121px;
        text-shadow: 2px 1px 0 #fff;
    }
    body>main>div.Rectangle>div.Rectangle_block>h2{
        display: none;
    }
    .rectangle_backgroun{
        height: 650px;
    }
    body>main>div.Rectangle>div.Rectangle_block>p:nth-child(2),
    body>main>div.Rectangle>div.Rectangle_block>p:nth-child(3) {
        padding: 0px 10px;
    }
    /**/
    .services{
        min-width: 360px;
        width: 100%;
    }
    .consultancy,
    .maketing,
    .reaserch {
        min-width: 360px;
        width: 100%;

    }
    img.servise_img {
        display: block;
        margin: 0 auto;
        padding: 30px 40px;
        width: 115px;
        height: 90px;
    }
    /**/
    .Marketing,
    .Reaserch,
    .Management,
    .Consultancy,
    .Promotion {
        float: left;
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
        background-color: #404040;
    }
    .diagram {
        width: 160px;
        height: 160px;
        position: relative;
        margin: 0px auto;
        display: block;
        margin-top: 30px;
        box-shadow: 0 0 0 4px #7b6c63;
        border: solid 5px #fff0;
        border-radius: 50%;
        float: none;
    }
    /**/
    p.recent-p{
        width: 360px;
        padding: 0 10px;
    }
    .projects{
        min-width: 360px;
    }
    /**/
    .twetter_news {
        margin-bottom: 46px;
    }
    /**/
    .teams_back_color {
        min-width: 360px;
        height: 2027px;
    }
    p.team_memb_p {
        margin-top: 40px;
        margin-bottom: 50px;
        /* margin: 0 auto; */
        width: 360px;
        padding: 0px 10px;
    }
    .member {
        float: none;
        margin: 0 auto!important;
        margin-bottom: 30px;
    }
    img.member_photo{
        min-width: 360px;
        width: 360px;
    }
    .member_info {
        min-width: 360px;
        width: 360px;
    }
    .member.m_center {
        margin: 0px 0px;
        margin-bottom: 30px;
    }
    .social_link{
        width: 360px;
        min-width: 360px;
    }
    /**/
    p.client_r_p{
        min-width: 360px;
        width: 360px;
        padding-left: 10px;
        padding-right: 10px;

    }
    .reviews,
    .reviews_back,
    .carousel {
        height:530px ;
    }
    /**/
    .footer_back{height: 1369px;
    }
    .footer_content{
        width: 100%;
        min-width: 360px;
    }
    .footer_block_1,
    .footer_recent_posts,
    .footer_twiter_feeds,
    .footer_our_address {
                float: none;
                margin-right: 0px;
                margin:0 auto;
    }
    .footer_our_address {
        width: 270px;
    }
}
