/*after----------
:after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
*/
body {
    margin: 0;
    padding: 0;
}
/*шапка*/
header {
    min-width: 360px;
    height: 95px;
    background-color: #303030;
}

.menu {
    position: relative;
    width: 1200px;
    height: 95px;
    margin: 0 auto;
}

.logo {
    margin-left: 10px;
    width: 157px;
    height: 95px;
    float: left;
    background-image: url("../image/mairala.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: contain;
    transition: all .2s ease-in-out;
}

.link {
    padding: 30px 0;
    margin: 0 auto;
}

body>header>div>div.link>a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.home,
.about,
.portfolio,
.team,
.blog,
.contact {
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 30.07px;
    text-transform: uppercase;
    padding: 3px 3px;
    margin: 0 17px;
    position: relative;
}
.home:after,
.about:after,
.portfolio:after,
.team:after,
.blog:after,
.contact:after {
    content: '';
    position: absolute;
    left: 0;
    top: 36px;
    width: 100%;
    height: 6px;
    background-color:#7b6c63;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.home:hover:after,
.about:hover:after,
.portfolio:hover:after,
.team:hover:after,
.blog:hover:after,
.contact:hover:after {
    content: '';
    position: absolute;
    left: 0;
    top: 36px;
    width: 100%;
    height: 6px;
    background-color: #7b6c63;
    opacity: 1;
}
/*шапка*/
/*main*/
main {
    width: 1200px;
    margin: 0 auto;
}

img.fast_d {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 685px;
}

.fast_download {
    margin-top: 150px;
    margin-bottom: 150px;
}

.f_d_p_1 {
    margin: 0;
    color: #fff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.f_d_p_2 {
    margin: 0px 0px 50px 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 66px;
    font-weight: 400;
    line-height: 75px;
    text-transform: uppercase;
}

.gold_text {
    color: #7b6d64;
}

button.download_psd_layout {
    width: 264px;
    height: 60px;
    color: #fff;
    background-color: #ffffff38;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
            transition: all .2s ease-in-out;
}
button.download_psd_layout:hover {
    background-color: #1118;
    outline:none;
}
body>main>div>a {
    text-decoration: none;
}
body>main>div>a:hover {
    text-decoration: none;
}
.info_page {
    padding: 91px 0;
    background-color: #fff;
}

h1.know_ab {
    text-align: center;
    color: #7b6c63;
    font-size: 40px;
    font-weight: 400;
    line-height: 47.92px;
    text-transform: uppercase;
    /* Text style for "K, now Abo" */
    letter-spacing: 2px;
    margin: 0px 0px 45px 0;
}

.info_page_min {
    text-align: center;
    color: #212121;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.06px;
    /* Text style for "N, am libe" */
    letter-spacing: 0.9px;
    margin: 45px 0 0px 0;
}

.dash {
    margin: 0 auto;
    width: 76px;
    height: 6px;
    background-color: #7b6c63;
}

.rectangle_backgroun {
    min-width: 360px;
    z-index: -1;
    position: absolute;
    left: 0px;
    height: 576px;
    width: 100%;
    background-color: #f5f5f5;
}

.Rectangle {
    width: 100%;
}
.Rectangle:after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.Rectangle_image_2 {
    background-image: url("../image/layer-4-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
    margin-left: 0;
    width: 100%;
    height: 160px;
    min-width: 360px;
}

.Rectangle_block {
    padding-top: 80px;
    display: block;
}

button.read_more {
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width: 169px;
    height: 50px;
    border: 2px solid #000;
    background-color: #da525200;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    border-radius: 1px;
}
button.read_more:hover{
    background-color: #333;
    color:#fff;
}
h2 {
    color: #7b6c63;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 0;
}

p {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.8px;
}

.services {
    margin-bottom: 40px;
}
.services:after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.servise_h {
    margin-top: 90px;
    color: #7b6c63;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
}

body>main>div.services>p {
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: center;
}

.consultancy,
.maketing,
.reaserch {
    float: left;
    width: 400px;
    margin: 10px 0;
}
.consultancy:before {
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 35px 40px;
    background-image: url("../image/cons.png");
}
.maketing:before {
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 35px 40px;
    background-image: url("../image/maketing.png");
}
.reaserch:before {
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 35px 40px;
    background-image: url("../image/reaserch.png");
}
h3 {
    color: #363636;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    line-height: 29.96px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    text-align: center;
}

p.servise_text {
    width: 335px;
    color: #949494;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.95px;
    letter-spacing: 0.8px;
    text-align: center;
    margin: 0 auto;
}

.skills {
    background-color: #000000bf;
    padding-bottom: 57px;
}
.skills:after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.skill_img_back {
    position: absolute;
    left: 0px;
    height: 466px;
    min-width: 360px;
    width: 100%;
    background-image: url("../image/Prancz-Adam-portrefotos-slider-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.skill_img_back_black {
    position: absolute;
    left: 0px;
    height: 466px;
    min-width: 360px;
    width: 100%;
    background-color: #000000bf;
    z-index: -1;
}

h1.our_skill {
    position: relative;
    z-index: 5;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    padding-top: 50px;
}

.Marketing,
.Reaserch,
.Management,
.Consultancy,
.Promotion {
    float: left;
    width: 240px;
}
div#portfolio {
    margin-top: 55px;
}
div#portfolio:after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
h1.recent-h1 {
    margin: 0;
    margin-bottom: 40px;
    color: #7b6c63;
    font-size: 40px;
    font-weight: 600;
    line-height: 47.86px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

p.recent-p {
    color: #212121;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.03px;
    letter-spacing: 0.9px;
    text-align: center;
    width: 484px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 90px;
}

.projects,.project_full {
    width: 100%;
}

.project_beck {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects_prev {
    float: left;
    width: 475px;
}

img.project_img {
    width: 100%;
}

.twetter_news {
    margin-bottom: 80px;
}
.twetter_news:after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.twetter_beck {
    position: absolute;
    left: 0;
    width: 100%;
    height: 360px;
    background-color: #1a1a1a;
    z-index: -1;
}

h1.new_twit {
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 47.82px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 86px;
}

p.twet_p {
    color: #fff;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 47.82px;
    text-align: center;
    padding: 0 10px;
}

a.twet_a {
    display: block;
    text-align: center;
}
.see_all {
    cursor: pointer;
    transition: all .1s ease-out;
    width: 170px;
    height: 49px;
    border: 2px solid #000;
    background-color: #da525200;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    border-radius: 3px;
}
button.see_all:hover {
    background-color: #333;
    color: #fff;
}
.project_next {
    height: 250px;
}

.project_next_button {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 250px;
}

.teams_back_color {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 822px;
    background-color: #f5f5f5;
}

.teams {
}
.teams:after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
h1.team_memb {
    color: #7b6c63;
    font-size: 40px;
    font-weight: 600;
    line-height: 47.86px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 50px 0;
}

p.team_memb_p {
    color: #212121;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.03px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 463px;
}

.member {
    float: left;
    padding-bottom: 30px!important;
}
.member_page {

    width: 100%;
    min-width: 360px;
    margin: 0 auto;
}
.member_page:after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
img.member_photo {
    position: absolute;
}

.member.m_center {
    margin: 0px 45px;
}

.member_info {
    transition: .2s;
    margin-top: 20px;
    height: 102px;
    border: 3px solid #e4e4e4;
}

p.mamber_name {
    margin: 16px 0 15px 0px;
    text-align: center;
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.98px;
    text-transform: uppercase;
}

p.mamber_post {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 29.98px;
    text-transform: uppercase;
    text-align: center;
}

.member:hover .member_info {
    border: 3px solid#000;
}

.member:hover .social_link {
    opacity: 0.9;
    transform: scale(1);
}

.social_link {
    transform: scale(0);
    transition: all .2s ease-in-out;
    opacity: 0;
    width: 370px;
    height: 367px;
    background-color: #000;
    border-radius: 3px 3px 0px 0px;
}

.social_link_box {
    padding-top: 150px;
    margin: 0 auto;
    width: 180px;
    height: 45px;
}

.social_twetter {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url("../image/twetter.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    border: solid 2px #fff;
    border-radius: 26px;
}

.social_facebook {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url("../image/facebook.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 30px;
    border: solid 2px #fff;
    border-radius: 26px;
}

.social_insta {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url("../image/insta.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    border: solid 2px #fff;
    border-radius: 26px;
}

.reviews {
    height: 457px;
}

.reviews_back {
    position: absolute;
    left: 0;
    width: 100%;
    height: 457px;
    background-color: #1a1a1a;
    z-index: -1;
}

.carousel-control-prev,
.carousel-control-next {
    display: none !important;
}

h1.client_reviews {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 47.82px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 89px;
    padding-bottom: 20px;
}

p.client_r_p {
    width: 750px;
    margin: 0 auto;
    color: #929292;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    padding-bottom: 30px;
}

h4.client_name.h4 {
    color: #7b6c63;
    font-weight: 400;
    letter-spacing: 0.9px;
    text-align: center;
}

a.client_site {
    display: flex;
    justify-content: center;

}

.carousel {
    height: 457px;
}

footer {
    width: 1200px;
    margin: 0 auto;
}
footer:after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.footer_content:after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.footer_back {
    z-index: -1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 411px;
    background-color: #222;
}

.footer_content {
    padding-top: 59px;
    /*padding-bottom: 55px;*/
}

.footer_block_1 {
    width: 270px;
    float: left;
    margin-right: 30px;
}

p.f_b_t {
    width: 270px;
    margin-top: 30px;
    color: #929292;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.98px;
}

.footer_recent_posts {
    float: left;
    width: 270px;
    margin-right: 30px;
}

h5.recent_posts_h {
    color: #c2c2c2;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.98px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p.post_text {
    color: #929292;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.98px;
    letter-spacing: 0.7px;
}

p.post_time {
    color: #5f5f5f;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 400;
    line-height: 19.98px;
    text-transform: uppercase;
    margin: 0;
}

.post_info {
    border-bottom: solid 1px #ffffff14;
    margin-bottom: 40px;
}

.post_tw {
    border-bottom: solid 1px #ffffff14;
    margin-bottom: 40px;
}

.footer_twiter_feeds {
    float: left;
    width: 270px;
    margin-right: 30px;
}

p.post_text_t {
    color: #929292;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.98px;
    letter-spacing: 0.7px;
    margin: 0;
    margin-bottom: 16px;
}

p.post_time_t {
    height: 19px;
    color: #5f5f5f;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 400;
    line-height: 19.98px;
    text-transform: uppercase;
    margin: 0;
}

a.twet_link {
    color: #7b6c63;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.98px;
}

.footer_our_address {
    float: left;
    width: 300px;
}

h5.our_address {
    color: #c2c2c2;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.98px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p.our_address_text {
    width: 266px;
    color: #929292;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.98px;
    margin-bottom: 35px;
}

p.studio_address {
    margin: 0;
    color: #929292;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.98px;
}

p.number {
    margin: 0;
    color: #929292;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.98px;
}

p.email {
    margin: 0;
    color: #929292;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.98px;
}
